/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  height: 100%;
  background: #f3fbfb;
  color: #7b8c9a;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e4457;
}
p {
  font-weight: normal;
  line-height: 1.5;
}
/******************************************
/* LAYOUT
/*******************************************/

/* HEADER STYLING */

header {
  height: 60px;
}
header nav {
  width: 90%;
  margin: 0 auto;
}
header nav > * {
  float: left;
  width: 7%;
  margin-right: 18%;
}
header nav > ul {
  width: 50%;
  list-style: none;
  padding-top: 0.5%;
}
header nav ul li {
  float: left;
  width: 25%;
}
header nav ul li a {
  text-decoration: none;
  color: #435668;
}
header nav > a {
  text-align: center;
  text-decoration: none;
  margin-right: 0;
  margin-top: 1%;
}

/* HERO STYLING */

.hero {
  width: 90%;
  margin-left: 10%;
  padding-top: 3%;
  padding-bottom: 40%;
}
.hero > section {
  float: left;
  width: 50%;
}
.hero img {
  width: 100%;
}
.hero-text {
  padding-top: 5%;
}
.hero-text h1 {
  font-size: 50px;
}
.hero-text p {
  padding: 1%;
}
.hero-text form {
  display: inline;
}
.hero-text form input {
  background: #e1e9f0;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 14px;
  width: 55%;
}
/* FEATURES SECTION */

.container {
  width: 90%;
  margin-left: 10%;
}
.container > section {
  float: left;
  width: 20%;
  margin-right: 5%;
}
.container > section a {
  text-decoration: none;
  color: #435668;
  font-weight: bold;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.btn {
  text-decoration: none;
  color: white;
  background: #435668;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}
