/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/

/* HEADER STYLING */

header {
  height: 60px;
  background: rgb(76, 92, 112);
}
header nav > * {
  padding-top: 20px;
  float: left;
  width: 25%;
  text-align: center;
  color: white;
  text-decoration: none;
}

/* HERO SECTION STYLING */

.hero {
  background: rgb(76, 92, 112);
}
.hero * {
  text-align: center;
  margin: 0;
  padding: 0 8%;
  color: white;
  display: block;
}
.hero h1 {
  font-size: 70px;
  padding-top: 8%;
  padding-bottom: 5%;
  transform: scaleY(1.5);
}
.hero span {
  margin-top: 5%;
  font-size: 30px;
}

/* WHY STYLING */

.hero + section {
  height: 600px;
}
.why {
  height: 200px;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 8% 8%;
}
.why h2 {
  font-size: 35px;
  font-weight: bold;
  transform: scaleY(1.5);
}
.why p {
  font-size: 25px;
  font-weight: bold;
}

.why + section {
  background: rgb(232, 243, 255);
  padding-bottom: 5%;
}

/* CARD STYLING */
.cards {
  height: 100vh;
  width: 80%;
  margin: auto;
  padding: 8% 0;
}
.card {
  float: left;
  width: 45%;
  text-align: center;
  margin: 0 2.5%;
}
.card div {
  margin: 0 auto;
  height: 250px;
  width: 400px;
  background: rgb(76, 92, 112);
  margin-bottom: 8%;
}
.card h3 {
  font-size: 30px;
  transform: scaleX(0.8);
}
.card p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5%;
}
.card a {
  text-decoration: none;
  color: black;
  font-size: 26px;
  transform: scaleX(0.8);
  border: 2px solid black;
  padding: 16px 40px;
}

/* VOLUNTEER STYLING */
.volunteer {
  width: 50%;
  margin: 12% auto;
}
.volunteer * {
  text-decoration: none;
  text-align: center;
}
.volunteer h3 {
  font-size: 35px;
  font-weight: bold;
  transform: scaleY(1.5);
}
.volunteer p {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10%;
}
.volunteer a {
  margin-left: 40%;
  color: black;
  border: 2px solid black;
  padding: 20px 28px;
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER STYLING */
footer {
  background: rgb(76, 92, 112);
  color: rgb(211, 211, 211);
}
footer .container {
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
  font-size: 20px;
  margin-bottom: 9%;
}
footer .container > section {
  float: left;
  width: 50%;
}
footer .container > section + section {
  text-align: end;
}
footer .container section img {
  width: 40px;
  margin: 0 1%;
}
footer span {
  display: block;
  margin-top: 3%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer span + a {
  margin-right: 2%;
  font-weight: bold;
}
footer > p {
  clear: both;
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid white;
  padding-top: 1.5%;
  padding-bottom: 3%;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
