/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 55px;
  background: #607e93;
}
header nav {
  width: 90%;
  margin: auto;
  color: white;
  padding-top: 15px;
}
header nav > * {
  float: left;
  width: 33.3333%;
}
header nav > a {
  text-align: end;
}
header nav a {
  text-decoration: none;
  color: white;
}
header nav .container a {
  margin: 0 5px;
}
footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
